<div class="grid-container">
  <div class="grid-x">
    <h3>Playlists</h3>
    <ul class="small-12 medium-12 large-12 cell playlist_list">
      <li>
        <a class="playListCreate" title="Create Playlist" href="#">
          <div class="create_icon">
            <i class="fi-plus"></i>
          </div>
          <span class="create_text">Create Playlist</span>
        </a>
      </li>
    </ul>
  </div>
</div>
