<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{> styles}}
</head>

<body class="index clearfix">

  <section>
    <div class="grid-container">
      <div class="grid-x">
        <div class="small-offset-1 small-10 medium-offset-1 medium-10 large-offset-1 large-10 cell homeCont">

          <div class="homeLogo">
            <span class="logoImg"></span>
            <span class="title">{{header}}</span>
          </div>

          <div class="homeSlide clearfix">
            <div class="cont text-center">
              <span class="slideHeader">Welcome</span>
              <span class="slideContent">Sign up for free music on your phone, tablet and computer.</span>
            </div>
            <div class="cont text-center">
              <span class="slideHeader">Browse</span>
              <span class="slideContent">Explore top tracks, most played and most liked.</span>
            </div>
            <div class="cont text-center">
              <span class="slideHeader">Search</span>
              <span class="slideContent">Looking for that special album or artist? Just search and hit play.</span>
            </div>
            <div class="cont text-center">
              <span class="slideHeader">Your Playlist</span>
              <span class="slideContent">Save any song to your own music collection.</span>
            </div>
          </div>



          <div class="indexBtns text-center clearfix">
            <span class="btncont">
              <a class="button success" href="/signup">Create Account</a>
            </span>
            <span class="loginCont btncont">
                <span class="aluser">Already an user?</span>
                <a class="button custom" href="/login">Log In</a>
            </span>
          </div>
        </div>

    </div>
  </div>
  </section>

  <!-- <div class="bg fixed clearfix"></div> -->
  <div class="bodyBg bodyBgHome"></div>
  {{> footer}} {{> scripts}}
</body>

</html>
