/**
* Reset styles
*/

*, *:after, *:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: GothamSSm;
  src: url(../fonts/GothamSSm-Book.ttf);
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'GothamSSm', Arial, Georgia, serif;
  background: #7f574f;
  color: #fff;
  /*hsla(0,0%,100%,.6);/*rgba(255, 255, 255, 0.5);*/
  margin: 0 auto;
  position: relative;
  z-index: 1;
  height: 100vh;
}

div.bodyBg {
  /* background-image: linear-gradient(#61373e,#090506 85%); */
  background-image: url('/dist/assets/bg.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  position: fixed;
  will-change: transform;
  z-index: -1;
}

div.bodyBg:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #002f4b, #383231);
  opacity: .2;
}

dl, menu, ol, ul {
  margin: 0;
  list-style: none;
}

dd {
  margin: 0;
}

menu, ol, ul {
  padding: 0;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
}

/**
* Common styles
*/

html {
  font-size: 62.5%;
  font-family: Arial, Georgia, serif;
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 12pt;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 11pt;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 10pt;
  }
}

a {
  color: #fff;
}

a:hover {
  color: inherit;
}

.no-touch a:hover, .no-touch .button.hollow.secondary:hover, .no-touch .button.hollow.secondary:focus {
  color: hsla(0, 0%, 100%, .6);
}

.button.primary {
  background-color: hsla(0, 0%, 65%, .6);
}

.button.primary:hover, .button.primary:focus {
  background-color: hsla(0, 0%, 85%, .6);
}

.touch .button.secondary:hover, .touch .button.secondary:focus {
  background: none;
  color: inherit;
  border-color: hsla(0, 0%, 65%, .6);
}

.button.hollow.secondary {
  color: rgba(255, 255, 255, 0.5);
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.centerTextSmall {
  padding-left: calc(100% / 6);
}

.centerTextMed {
  padding-left: calc(100% / 8);
}

.centerTextLarge {
  padding-left: calc(100% / 16);
}

[type=text], [type=button], [type=submit], [type=reset], [type=password], [type=email] {
  border-radius: 5px;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

div#error, div#msg {
  text-align: center;
  padding: 5px;
}

.icon-error {
  position: absolute;
  right: 20px;
  top: 41%;
  color: #FF4500;
}

div#error, #emptyFields {
  color: #FF4500;
  padding-top: 10px;
  font-weight: bold;
}

div#msg {
  color: #3adb76;
}

.inpPadding {
  padding: 0 15px;
  position: relative;
}

label {
  color: #fff;
}

/**
* header styles
*/

header {
  /* background-color: rgba(255, 255, 255, 0.175); */
  font-size: 1.6rem;
  position: relative;
  margin: 0 10%;
}

header div.cell {
  padding: 1rem 1rem 0;
}

header.withoutTitle {
  padding: 1rem;
}

header a {
  color: #fff;
}

#header .logoImg {
  background: url('/dist/assets/logo.png') no-repeat 0 center;
  display: inline-block;
  width: 50px;
  height: 50px;
}

#header .logo {
  width: 229px;
}

#header .title {
  display: inline-block;
  margin: 12px 0 0 60px;
  font-size: 1.5rem;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  /* #header .logoImg {
    background: url('/dist/assets/logo_small.png') no-repeat 0 center;
    width: 106px;
    height: 29px;
  }
  #header .logo {
    width: 220px;
    height: 40px;
  }
  #header .title {
    margin: 0px 0 0 114px;
    font-size: 1.1rem;
  } */
}

@media screen and (device-width: 360px) and (device-height: 640px) {
  /* #header .logoImg {
    background: url('/dist/assets/logo_small.png') no-repeat 0 center;
    width: 106px;
    height: 29px;
  }
  #header .logo {
    width: 220px;
    height: 40px;
  }
  #header .title {
    margin: 0 0 0 114px;
    font-size: 1.1rem;
  } */
}

@media only screen and (orientation: landscape) {
  /* #header .logoImg {
    height: 50px;
  } */
}

.title-bar {
  background: none;
  float: right;
  font-size: 1rem;
}

.menu.vertical {
  background: #282b34;
  position: absolute;
  right: 10px;
  top: 50px;
  z-index: 3;
}

/**
* index styles
*/

body.index #header {
  width: 80%;
  position: relative;
  top: 0;
  margin: 0 10%;
}

@media only screen and (orientation: portrait) {
  body.index #header {
    width: 100%;
    margin: auto;
  }
}

#header .addFloat {
  float: right;
}

@media print, screen and (min-width: 40em) {
  #index-menu {
    float: right;
  }
  .menu.medium-horizontal.vertical {
    background: none;
    position: relative;
    top: auto;
    right: auto;
  }
}

#header .menu li {
  padding: 5px;
}

#header .menu a {
  font-size: 1.1rem;
}

.screenText {
  font-size: 1rem;
  color: #fff;
  height: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0 0;
  /* position: fixed;
  top: calc(100% - 50vh);
  left: calc(100% / 10); */
}

.screenText .sli1 {
  font-weight: 800;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 50px;
}

.screenText .sli2 {
  font-weight: 800;
  font-size: 1.1rem;
  text-align: center;
}

.screenText .sli2 h4 {
  font-weight: 800;
  font-size: 1.2rem;
  border-bottom: 1px solid hsla(0, 14%, 65%, 0.6);
  width: 18%;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, .6);
  padding: 10px 0;
}

.screenText .sli2 .features {
  font-size: 1rem;
  width: 18%;
  margin: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, .6);
  padding: 10px 0;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .screenText .sli1 {
    font-size: 1.1rem;
  }
  .screenText .sli2 h4, .screenText .sli2 .features {
    width: 50%;
  }
}

@media screen and (device-width: 360px) and (device-height: 640px) {
  .screenText .sli1 {
    font-size: 1.1rem;
  }
  .screenText .sli2 h4, .screenText .sli2 .features {
    width: 50%;
  }
}

.bg.fixed {
  /* position: fixed; */
  width: 100vw;
  height: 100vh;
}

.bg {
  background-image: url('/dist/assets/bg.jpg');
  /*linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1)), url('/dist/assets/bg.png');*/
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
}

/**
* footer
*/

footer {
  position: fixed;
  bottom: 0;
  background: #000;
  width: 100vw;
}

footer .copy {
  display: inline-block;
  padding: 2rem;
  float: left;
}

.inline-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 2rem;
  padding: 1rem 1rem 0 0;
}

.inline-list li {
  padding: 0 10px;
}

/* Portrait */

@media only screen and (orientation: portrait) {
  .bg {
    background-position: 0 center;
  }
}

/**
* common form styles
*/

section.commonForm {
  margin: 20px 0 0 0;
}

section.commonForm .btns {
  /* margin: 0 calc((100% / 2) - 80px); */
  width: 12rem;
  margin: 0 auto;
}

section.commonForm .btns input {
  margin-right: 5px;
}

@media print, screen and (min-width: 40em) {
  .medium-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 13.33333%
  }
  .medium-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%
  }
  .medium-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }
}

/* .grid-container {
  position: relative;
  top: 50%;
  left: calc(50% / 2);
} */

/**
* 404 page styles
*/

#errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#errorPage .title {
  font-size: 5rem;
  font-weight: bold;
}

#errorPage .buttonHome a {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  display: inline-block;
}

#errorPage .buttonHome a:hover {
  border: 1px solid hsla(0, 0%, 100%, .6);
}

/**
* Music home page
*/

header.noBg {
  background: none;
  border-bottom: 1px solid hsla(0, 0%, 100%, .25);
  height: 75px;
}

@media only screen and (orientation: portrait) {
  header.noBg {
    height: 70px;
  }
}

header.noBg .logoImg {
  margin-right: 15px;
}

.user-name {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
}

.userMenu {
  position: absolute;
  right: 2%;
  top: 0;
  height: 100%;
}

.fi-torso {
  /* color: #FF851B; */
}

.menuDiv {
  position: absolute;
  right: 14px;
  top: 40%;
  cursor: pointer;
}

.menuIcon {
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  content: '';
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: hsla(0, 0%, 100%, .6) transparent transparent;
  position: absolute;
  top: 62%;
  right: -15px;
  left: auto;
  margin-top: -6px;
}

/**
* Top Trending
*/

section.topTrend {
  padding: 20px 0;
  text-align: center;
}

section.topTrend h3 {
  font-weight: bold;
  width: 100%;
  padding: 20px 0;
}

section.topTrend h3::after {
  content: "";
  height: 2px;
  background-color: #1db954;
  width: 45px;
  position: relative;
  top: 4px;
  display: block;
  margin: 0 auto;
}

.searchIcon {
  display: inline-block;
  border-right: 1px solid hsla(0, 0%, 100%, .25);
  padding: 24px 12px 0 0;
  position: absolute;
  top: 0;
  height: 100%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

@media only screen and (orientation: portrait) {
  .searchIcon {
    padding: 12px 12px 0 0;
  }
}

ul.topTrend {
  display: flex;
  flex-wrap: wrap;
}

ul.topTrend li {
  flex: 1 0 150px;
  padding: 10px;
}

ul.topTrend li a {
  display: inline-block;
  position: relative;
}

ul.topTrend li a div.icon {
  position: absolute;
  top: 35%;
  bottom: 35%;
  left: 35%;
  right: 35%;
}

@keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

ul.topTrend li a img {
  box-shadow: 0 0 10px rgba(0, 0, 0, .8);
  background: #7f574f;
  width: 140px;
  height: 140px;
  animation: fadein 1s;
}

ul.topTrend li a .imgOverlay {
  background: rgba(127, 87, 79, .3);
  width: 140px;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
}

ul.topTrend li a span {
  display: block;
  text-transform: capitalize;
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 5px 0 0 0;
  text-align: center;
}

@media only screen and (orientation: landscape) {
  ul.topTrend li {
    flex: 1 0 200px;
  }
}

.cover-art-playback svg {
  transform: scale(.5);
  width: 100%;
  height: 100%;
}

.cover-art-playback {
  transition: none 33ms cubic-bezier(.3, 0, .7, 1);
  transition-property: all;
  background-color: transparent;
  display: none;
  position: absolute;
  z-index: 3;
  width: 62px;
  height: 62px;
  margin-left: -31px;
  margin-top: -31px;
  top: 50%;
  left: 50%;
  color: #fff;
  border: 0;
  border-radius: 500px;
  box-sizing: content-box;
  outline: none;
  box-shadow: inset 0 0 0 1px #a0a0a0;
}

ul.topTrend li a:hover .cover-art-playback {
  display: block;
  cursor: pointer;
}

ul.topTrend li div.hov {
  display: none;
}

ul.topTrend li a:hover div.hov {
  display: block;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  position: absolute;
  width: 140px;
  height: 140px;
  top: 0;
  left: 0;
  border-radius: 6px;
}

/**
* Search styles
*/

.box-search.show {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.box-search {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.box-search .bt-close {
  position: relative;
  cursor: pointer;
  padding: 18px 15px 0 0;
  z-index: 1;
  /* transition: all 0.3s ease-in-out; */
}

.box-input {
  position: relative;
}

.box-input input {
  padding: .5rem .5rem .5rem 2.2rem;
}

.box-search-icon {
  position: absolute;
  top: 0;
  left: 11px;
  z-index: 2;
  color: #ccc;
  transform: scaleX(-1);
}

.box-search-icon:hover .fi-magnifying-glass, .box-search-icon:focus .fi-magnifying-glass {
  color: #ccc;
}

#user-menu.show {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

#user-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: #fff;
  color: #767676;
  top: 70px;
  right: -30px;
  width: 180px;
  z-index: 2;
  font-size: 0.9rem;
}

#user-menu li a {
  color: #767676;
}

#user-menu li {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  padding: 15px;
  position: relative;
}

#user-menu li:last-child {
  border: none;
}

#user-menu li::before {
  background-color: transparent;
  content: '';
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  width: 5px;
}

#user-menu li:hover::before {
  background-color: #1ed760;
}

@media only screen and (orientation: portrait) {
  .close-icon {
    font-size: 2rem;
    font-weight: bold;
    float: right;
    padding: 10px 25px 10px 10px;
  }
  #user-menu.menuMod.show {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
  }
  #user-menu.menuMod {
    visibility: hidden;
    background: rgba(0, 0, 0, 1);
    height: 100%;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    z-index: 2;
    transition: 0.5s;
  }
  #user-menu.menuMod ul {
    padding: 85px 0 0;
  }
  #user-menu.menuMod li {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }
}

/**
* trackList
*/

.hw-accelerate {
  transform: translateZ(0);
  will-change: transform;
}

.coverArt {
  padding: 50px;
}

.coverArt img {
  opacity: 1;
  box-shadow: 0 0 18px rgba(0, 0, 0, .8);
  border-radius: 5px;
  width: 300px;
  transition: all 0.3s ease-in-out;
  animation: fadein 1.5s;
}

.albumDetails {
  padding: 50px 0 0;
}

.albumHeader {
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(255, 255, 0, 0.4);
  margin-bottom: 5px;
  animation: fadein 1.5s;
}

.albumName {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.artistName {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: capitalize;
}

.genre, .yearReleased {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: capitalize;
}

.separator {
  font-size: 1.2rem;
  top: -3px;
  position: relative;
}

.trackList {
  font-size: 0.9rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  padding: 7px 10px;
  cursor: pointer;
  animation: fadein 1.5s;
}

.trackList:hover {
  background: rgba(255, 255, 0, .5);
}

.trackList.highlight {
  background: rgba(255, 255, 0, .5);
  color: rgba(0, 0, 0, 0.9);
}

.trackList div {
  flex: 1 0 150px;
}

.trackList div.trackItem {
  flex: 1 0 250px;
  position: relative;
}

.trackList .songName {
  text-transform: capitalize;
  text-overflow: ellipsis;
  padding: 0 0 0 10px;
  display: inline-block;
}

.audioP {
  margin-top: 20px;
}

.trackActions {
  text-align: center;
}

.trackActions a {
  margin: 10px;
  display: inline-block;
  font-size: 1.5rem;
}

.fi-sound:before {
  content: "\f1ed";
  position: absolute;
  top: 5px;
  left: -5px;
}

.artist-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.album-name {
  display: block;
  font-size: 0.8rem;
  padding: 0 0 0 10px;
  text-transform: capitalize;
}

.emphasize {
  font-weight: bold;
}

#trackRepeat:focus, #trackLike:focus, #trackNext:focus, #trackShuffle:focus {
  color: #fff;
}

#trackRepeat.active:focus, #trackRepeat.active, #trackShuffle.active:focus, #trackShuffle.active {
  color: rgba(210, 207, 31, 0.8);
}

#trackLike.active:focus, #trackLike.active {
  color: rgba(251, 74, 74, 0.8)
}

#trackPrev.inactive, #trackNext.inactive, #trackShuffle.inactive {
  color: rgba(204, 204, 204, 0.6);
  cursor: auto;
}

/**
* search Results
*/

.searchStr {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

section .srTracks h3 {
  font-weight: bold;
  font-size: 2.2rem;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

section .srTracks span.seeAll {
  font-size: 1rem;
  font-weight: normal;
}

section .srTracks h3::after {
  content: "";
  height: 2px;
  background-color: #1db954;
  width: 220px;
  position: relative;
  top: 4px;
  left: 4px;
  display: block;
  margin: 0 auto;
}

ul.srTracks {
  display: flex;
  flex-wrap: wrap;
}

ul.srTracks li {
  flex: 1 0 250px;
  padding: 10px;
}

ul.srTracks li a {
  display: inline-block;
  position: relative;
  animation: fadein 1s;
}

ul.srTracks li div.img {
  float: left;
  width: 40px;
  height: 65px;
}

ul.srTracks li div.img img {
  padding: 5px 0 0;
}

ul.srTracks div.trackItem {
  float: left;
  padding: 0 0 0 10px;
  width: 170px;
}

ul.srTracks li .songName, ul.srTracks li .artistName {
  text-transform: capitalize;
  text-overflow: ellipsis;
  font-size: .9rem;
  display: inline-block;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
}

ul.srTracks li .songName {
  font-weight: bold;
}

ul.srTracks li .artistName {
  font-weight: 400;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
}

ul.srTracks .cover-art-playback svg {
  transform: scale(.5);
  width: 100%;
  height: 100%;
}

ul.srTracks .cover-art-playback {
  transition: none 33ms cubic-bezier(.3, 0, .7, 1);
  transition-property: all;
  background-color: transparent;
  display: none;
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  top: 69%;
  left: 20%;
  color: #fff;
  border: 0;
  border-radius: 500px;
  box-sizing: content-box;
  outline: none;
  box-shadow: inset 0 0 0 1px #a0a0a0;
}

ul.srTracks li a:hover .cover-art-playback {
  display: block;
  cursor: pointer;
}

ul.srTracks li div.hov {
  display: none;
}

ul.srTracks li a:hover div.hov {
  display: block;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  position: absolute;
  width: 40px;
  height: 40px;
  top: 5px;
  left: 0;
}

ul.topTrend span.artistName {
  font-size: .8rem;
  font-weight: normal;
  color: rgba(255, 255, 255, .8);
}

.srArtists {
  animation: fadein 1s;
}

ul li .artist_icon {
  position: relative;
  background-color: #282828;
  padding: 20px 20px 20px 30px;
  border-radius: 50%;
}

.srArtists ul.topTrend span.artistName {
  font-weight: bold;
  font-size: 0.9rem;
  color: #fff;
}

.srchHead {
  font-size: 1.4rem;
  padding: 10px 20px;
}

/**
* Playlists
*/

section.playlist h3 {
  font-weight: bold;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

section.playlist h3::after {
  content: "";
  height: 2px;
  background-color: #1db954;
  width: 45px;
  position: relative;
  top: 4px;
  display: block;
  margin: 0 auto;
}

ul.playlist_list {
  display: flex;
  flex-wrap: wrap;
}

ul.playlist_list li {
  flex: 1 0 150px;
  padding: 10px 10px 10px 47px;
}

@media only screen and (orientation: landscape) {
  ul.playlist_list li {
    flex: 1 0 200px;
  }
}

ul.playlist_list li a {
  display: inline-block;
  position: relative;
}
ul.playlist_list li a:focus {
  color:#fff;
}

ul.playlist_list li .create_icon {
  position: relative;
  background-color: #282828;
  padding: 20px 20px 20px 30px;
  border-radius: 5px;
  width: 140px;
  height: 140px;
}

ul.playlist_list li .fi-plus {
  font-size: 3rem;
  position: absolute;
  left: 52px;
  top: 31px;
}

ul li span.create_text {
  font-weight: normal;
  font-size: .9rem;
  color: #fff;
  width: 140px;
  display: inline-block;
  text-align: center;
}
