<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <title>{{title}}</title>
  {{> styles}}
</head>

<body class="clearfix">
  <header class="grid-x" id="header">
    <div class="small-4 medium-4 large-4 cell"><a class="logoImg" href="/user/home"></a></div>
    <div class="small-8 medium-8 large-8 cell">
      <h1>{{header}}</h1>
    </div>
  </header>
  <section class="changePassword commonForm">

    <form id="changePassword">
      <div class="grid-container">
        <div class="grid-x">
          <div class="small-12 medium-offset-4 medium-5 large-offset-4 large-4 cell inpPadding">
            <label>Old Password
              <input type="password" placeholder="New Password" id="oldPassword" />
            </label>
          </div>
          <div class="small-12 medium-offset-4 medium-5 large-offset-4 large-4 cell inpPadding">
            <label>New Password
              <input type="password" placeholder="New Password" id="newPassword" />
            </label>
          </div>
          <div class="small-12 medium-offset-4 medium-5 large-offset-4 large-4 cell inpPadding">
            <label>Confirm Password
              <input type="password" placeholder="Confirm Password" id="confirmPassword" />
            </label>
          </div>
        </div>
      </div>
      <div class="btns">
        <input type="submit" value="Submit" class="button primary">
        <input type="reset" value="Clear" id="reset" class="button primary">
      </div>
    </form>

    <div id="emptyFields" class="hide text-center">This field is required</div>
    <div id="error"></div>
    <div id="msg" class="success"></div>
    <div id="loginLink" class="hide text-center"><a href="/user/home">Go to your music page!</a></div>
  </section>
  <div class="bodyForm"></div>
</body>
{{> scripts}}

</html>
