<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <title>{{title}}</title>
  {{> styles}}
</head>

<body class="clearfix">
  <header class="grid-x" id="header">
    <div class="small-4 medium-4 large-4 cell"><a class="logoImg" href="/user/home"></a></div>
    <div class="small-8 medium-8 large-8 cell">
      <h1 class="centerTextMed">{{title}}</h1>
    </div>
  </header>
  <section class="editProfile commonForm">
    <form>
      <div class="grid-container">
        <div class="grid-x">
          <div class="small-12 medium-offset-4 medium-4 large-offset-4 large-4 cell inpPadding">
            <input type="text" placeholder="Username" maxlength="30" />
          </div>
          <div class="small-12 medium-offset-4 medium-4 large-offset-4 large-4 cell inpPadding">
            <input type="email" placeholder="Email" />
          </div>
        </div>
      </div>
      <div class="btns">
        <input type="submit" value="Submit" class="button primary">
        <input type="reset" value="Clear" class="button primary">
      </div>
      <div id="error">djhsjdg jsgdj sjd gjsgd jg sjd jsg
        djg sj gdjsgdjgs jdg jsgd jgsg djhsjdg jsgdj sjd gjsg
        d jg sjd jsg djg sj gdjsgdjgs jdg jsgd jgsgdjhsjdg jsgdj sjd gj
        sgd jg sjd jsg djg sj gdjsgdjgs jdg jsgd jgsgdjhsjdg jsgdj sjd gjsgd jg sjd
         jsg djg sj gdjsgdjgs jdg jsgd jgsgdjhsjdg jsgdj sjd gjsgd jg sjd jsg djg sj gdj
         sgdjgs jdg jsgd jgsg</div>
    </form>
  </section>
</body>
{{> scripts}}

</html>
