<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{> styles}}
</head>

<body>
  {{> header}}

  <section class="clearfix js-nonSearchView playlist">
    {{> playlist}}
  </section>
  
  <section class="clearfix js-nonSearchView topTrend">
    {{> topTrending}}
  </section>

  <section id="searchCont" class="hide js-searchView clearfix">
  </section>
  <div class="bodyBg"></div>
</body>

{{> scripts}}

</html>
