<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{> styles}}
</head>

<body>
  <header class="grid-x noBg" id="header">
    <div class="small-4 medium-4 large-4 cell"><a class="logoImg" href="/user/home"></a></div>
    <div class="userMenu">
      <span class="user-name">{{userName}}</span>
      <div data-toggle="user-menu" class="menuDiv">
        <i class="fi-torso"></i>
        <span class="menuIcon"></span>
      </div>
      <div id="user-menu" class="is-hidden" data-toggler="is-hidden">
        <ul>
          <li><a href="#">Change Password</a></li>
          <li><a href="/user/editProfile">Edit Profile</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </div>
    </div>
  </header>

  <section class="clearfix topTrend">
    {{> topTrending}}
  </section>
  <div class="bodyBg"></div>
</body>

{{> scripts}}

</html>
