<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/dev-page.css" />
  <link rel="stylesheet" href="/css/lib/foundation-6.4.2.min.css">
  <link rel="stylesheet" href="/css/lib/foundation-icon.css">
  <link rel='shortcut icon' href='/favicon.png'>
</head>

<body class="clearfix">

  <section>
    <div class="grid-container">
      <div class="grid-x">
        <div class="small-12 medium-8 large-7 cell">
          <div class="dev-cont clearfix">
            <img class="devImg" src="/dist/assets/geeta.jpg" />
            <span class="bio">
              gdgad jgsjdgj sgdjhgsjdhg jshg djhgsjhd gjsg djgsjdgjshg jdgsjg hajg sjdgjhsgd jgsjdgjgsdjgsjgdjhsg jdhg sjhg djgs jhdg jshg djgdgsjgs
            </span>
          </div>
          <div class="dev-cont clearfix">
            <img class="devImg" src="/dist/assets/swathi.jpg" />
            <span class="bio">
              gdgad jgsjdgj sgdjhgsjdhg jshg djhgsjhd gjsg djgsjdgjshg jdgsjg hajg sjdgjhsgd jgsjdgjgsdjgsjgdjhsg jdhg sjhg djgs jhdg jshg djgdgsjgs
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="devBg"></div>
</body>

</html>
